/*  styles for this lab page  */

/*  class="minor-section" */ 

.minor-section {
    padding: 14px;
    margin-bottom: 14px;
    border: solid 2px #ffa0c7;
    background-color: #f9cccc;
  }  


.special {
    background-color: #faece0;
    border: dotted 14px #f985a8;
    color: #f17388;
    font-weight: bold;
} 
