/*  styles for this lab page  */

/*  class="minor-section" */  

#content{
    padding: 14px;
    margin-bottom: 14px;
    border: solid 7px #ffdf06;
    background-color: #982b00; 
    color: #ffdf06; 
  }  

  body {
    background-color: #f19941;
  }  

.felicity-line {
    color: #f19941; 
    font-style: italic;
}

.fox-line {
    color: #ffdf06; 
    font-weight: bold; 
} 
